.DS_Store
*.txt

/manuscript/manuscript.aux
/manuscript/manuscript.bbl
/manuscript/manuscript.blg
/manuscript/manuscript.dvi
/manuscript/manuscript.log
/manuscript/manuscript.out
/manuscript/manuscript.pdf
/manuscript/manuscript.synctex.gz
/manuscript/.auctex-auto/
/manuscript/nco-bias-characterization.aux
/manuscript/nco-bias-characterization.bbl
/manuscript/nco-bias-characterization.blg
/manuscript/nco-bias-characterization.log
/manuscript/nco-bias-characterization.out
/manuscript/nco-bias-characterization.pdf
/manuscript/nco-bias-characterization.synctex.gz

/jupyter/.ipynb_checkpoints/
/jupyter/product-mean-model.ipynb
/jupyter/group-mean-model-binary-treatment.ipynb
/jupyter/group-gp-model-binary-treatment-multiple-confounding.ipynb
/jupyter/Analysis of simulations.ipynb

nohup.out

/output
/plco
/figures
